@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');    

.botao{
    background-color: black;
    color: white;
}

body{
    background-image: url(img/JDM\ wallpaper.jpeg);/*imagem*/
    background-position: center;/*posição da imagem*/
    background-attachment: fixed;/*fixão da imagem*/
    background-size: cover;/*tamanho*/
    background-repeat: no-repeat;/*sem reptição de img*/
    display: flex;/*alinhamento da img*/
    justify-content: center;/*ajuda o display*/
    flex-direction: column;
}

h1{
    color: greenyellow;/*cores da fote */
    font-family: "Chakra Petch";/*fontes*/
}
