@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url(packimag/Goku\ Black.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0f0f0f;
    
}

h1{
    color: gold;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}
