body {
    background-image: url(foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}
h1 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3%;
    color: rgb(214, 248, 21);
    text-shadow: black 0.2em 0.2em 0.3em
}
h2{
    color: rgb(0, 241, 149);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:unset;
    margin-top: 3%;
    text-shadow: 1px 2px 2px black;
}
.SIM{
    position: relative;
    top: -20px; left: -85px;
    color: #fff;
    background-color: #00b5cc;
    border: 3px solid #0a0d11;
    border-radius: 8px;
    margin-top: 1%;
    width: 80px;
    height: 50px;
    border-bottom: 30%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.NÃO{
    position: relative;
    top: -86px; left: 85px;
    color: #fff;
    background-color: #00b5cc;
    border: 3px solid #0a0d11;
    border-radius: 8px;
    margin-top: 1%;
    width: 80px;
    height: 50px;
    border-bottom: 30%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.Início{
    position: relative;
    top: -165px; left:420px;
    color: #fff;
    background-color: #00b5cc;
    border: 3px solid #0a0d11;
    border-radius: 8px;
    margin-top: 2%;
    width: 120px;
    height: 55px;
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}